doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/top-menu/top-menu
  include ../components/login/login
  include ../components/top-baner/top-baner
  include ../components/tabs/tabs
  include ../components/sort/sort
  include ../components/card/card
  include ../components/main-list/main-list
  include ../components/rating/rating
  include ../components/userboard/userboard
  include ../components/push-notifications/push-notifications
  include ../components/empty-orders/empty-orders
  include ../components/warning-pushes/warning-pushes
  include ../components/modals/modals
  include ../components/list-orders/list-orders
  include ../components/account-success/account-success
  include ../components/user-settings/user-settings
  include ../components/customer-settings/customer-settings
  include ../components/order-page-content/order-page-content
  include ../components/card-order/card-order
  include ../components/order-customer/order-customer
  include ../components/order-comments/order-comments
  include ../components/order-attention/order-attention
  include ../components/selected-performer/selected-performer
  include ../components/performer-success/performer-success
  include ../components/filter/filter
  include ../components/performer-my/performer-my
  include ../components/status/status
  include ../components/footer/footer

  head
    +head(head.defaults)
  body
    block header
      +header()
    block content
      h1 Hello, I'm layout
    block footer
      +footer()
    block modals
    
    .mask

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src="https://code.jquery.com/jquery-2.2.4.min.js")
    script(src='%=static=%js/main%=hash=%%=min=%.js')
