.time-filter {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;

  border: 1px solid rgba(#8e8e8e, .15);
  background: rgba(#f9f9f9, .5);
  box-shadow: 0 3px 3px rgba($black, .05);
}
