.form-attachment {
  font-size: rem-calc(14);

  position: relative;

  display: inline-block;

  margin-left: 20px;

  color: $blue;
  border-bottom: 1px solid rgba($blue, .5);

  @include transition;
  margin-bottom: 20px;
  &:hover {
    border-bottom: 1px solid $blue;
  }
  &:before {
    position: absolute;
    left: -20px;

    content: '';

    @include bg($attachment);
    @include vertical-center;
  }
  &__field {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }
}
