.form {
  &__group {
    display: flex;

    justify-content: space-between;
    align-items: center;
    &._center {
      justify-content: center;
    }
  }
}

.form-reg-submit {
  width: 80%;
  height: 60px;
  margin: 30px auto;

  @extend .gr-button;
  @extend .gr-button._green;
}

.form-privacy {
  font-size: rem-calc(14);
  line-height: rem-calc(18);

  text-align: center;

  color: #958d8d;
  a {
    text-decoration: none;

    color: $blue;
    border-bottom: 1px solid rgba($blue, .5);

    @include transition;
    &:hover {
      border-bottom: 1px solid $blue;
    }
  }
}

.form-forget {
  margin-top: 15px;

  @extend .form-privacy;
}

.form-hint {
  position: relative;
  z-index: 99;

  margin-left: 5px;

  @include bg($form-hint);
  &:hover {
    .form-hint__label {
      left: 25px;

      visibility: visible;

      opacity: 1;
    }
  }
  &__label {
    font-size: rem-calc(11);

    left: 35px;

    visibility: hidden;

    width: 130px;
    padding: 10px;

    opacity: 0;
    border-radius: 3px;
    background-color: $white;
    box-shadow: 0 0 3px rgba($black, .2);

    @include transition;
    @include vertical-center;
    &:before {
      left: -5px;

      display: block;

      width: 0;
      height: 0;

      content: '';

      border-top: 5px solid transparent;
      border-right: 5px solid $white;
      border-bottom: 5px solid transparent;

      @include vertical-center;
    }
  }
}
