mixin question-page(data)
  .about-page
    .about-page-top
      .about-page__wrapper
        h1 Вопросы и ответы

        p Ниже представлен список часто задаваемых вопросов. <br>Если Вы не нашли ответ на свой вопрос, обратитесь по адресу: <a href="mailto:welcome@netexar.ru" title="Вопрос">welcome@netexar.ru</a>

    .about-page__wrapper
      .question-list
        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Сколько стоят услуги NETEXAR?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Вы платите только за доставку вашего груза. После размещения вами заявки, перевозчики получают ваш заказ и предлагают свои услуги, а вы уже выбираете, сколько готовы заплатить за перевозку товаров. Отдельно системе вы ничего не платите. Стоимость доставки вы узнаете практически мгновенно, когда начнете получать предложения от компаний-перевозчиков.

        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Предлагаемый транспорт в вашей собственности?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Весь автотранспорт, который предлагают перевозчики, является их  собственностью - собственностью компаний или частных лиц – в зависимости от того, по какой именно схеме они работают. Мы сотрудничаем с транспортными компаниями, которые тщательно проверяем.

        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Оформление заказа гарантирует подачу транспортного средства в указанное время?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Вы сами выбираете перевозчика, поэтому должны отслеживать поступающие предложения. Это может длиться до тех пор, пока вы не найдете подходящего перевозчика, с которым будете готовы сотрудничать. Перевозчики, предлагая свои услуги, располагают свободным транспортом. После выбора исполнителя, он гарантирует подачу машины.

        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Как я узнаю, что транспорт свободен и будет подан?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Информацию о наличии свободного транспорта и времени его подачи вы получите от перевозчика. Компании не откликаются на заявки, если в момент поступления предложения от заказчика не располагают свободным транспортом для выполнения заказа.

        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Я представляю компанию-перевозчика, как мне стать вашим партнером?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Для того чтобы стать партнером системы NETEXAR, свяжитесь с нами удобным для вас способом. Чтобы попасть в перечень наших перевозчиков, необходимо предоставить документы организации, документы на транспорт, а также предоставить доступ сотруднику NETEXAR для осмотра технического состояния транспорта.
            p Мы  предоставляем клиентам данные только о проверенных организациях. Поэтому для успешного сотрудничества вам необходимо предоставлять только полную и правдивую информацию о вашей деятельности. Также вы обязуетесь своевременно информировать нас о любых изменениях, касающихся сервиса, который ваша организация предоставляет клиентам. 
            p Будем рады внести вас в базу данных наших перевозчиков и плодотворно сотрудничать с вами.

        .question-list-item(class="jsToggleSlide")
          .question-list-item__title(class="jsToggleSlideTrigger") Какие документы необходимы, чтобы стать перевозчиком?
          .question-list-item__content(class="jsToggleSlideContent") 
            p Чтобы попасть в перечень перевозчиков NETEXAR, вам необходимо пройти процедуру регистрации, которая включает 2 этапа.
            ol
              li Пройти регистрацию Пользователя на сервисе, указав:
                ul
                  li номер телефона;
                  li адрес электронной почты;
                  li для физических лиц: фамилию, имя, отчество, <br>для юридических лиц: наименование юридического лица;
                  li ИНН, ОГРН юридического лица;
                  li для физических лиц: место жительства, <br>для юридических: место нахождения организации.
              li Перевозчик, желающий сотрудничать с NETEXAR, обязан предоставить следующие документы:
                ul
                  li документы на владение/аренду одного или более транспортных средств: договор лизинга, договор аренды транспортных средств и пр.;
                  li паспорт транспортного средства (ПТС);
                  li свидетельство о регистрации транспортного средства;
                  li водительское удостоверение, подтверждающее право управления транспортным средством соответствующей категории;
                  li документ, удостоверяющий личность водителя;
                  li трудовой или иной договор между юридическим лицом и водителем транспортного средства, кроме случаев, когда юридическое лицо само является водителем транспортного средства;
                  li действующий номер телефона водителя транспортного средства;
                  li согласие водителя транспортного средства на обработку Администрацией NETEXAR его персональных данных, включая хранение, обезличивание и передачу данных третьим лицам (Заказчикам).
              li Перевозчик вправе предоставить документы:
                ul
                  li страховой ответственности за сохранность груза;
                  li документы, подтверждающие деловую репутацию Перевозчика: рекомендательные и благодарственные письма и пр. 

            p При отказе Перевозчика предоставить полный перечень документов либо при их отсутствии, сотрудничество с NETEXAR будет невозможно. 

