mixin how-page(data)
  .about-page
    .about-page-top
      .about-page__wrapper
        h1 Как это работает

        p Система NETEXAR – удобный и эффективный сервис для прямого сотрудничества заказчиков и перевозчиков при перевозке по Москве и Московской области. Это возможность найти исполнителя по оптимальным ценам. При этом качество обслуживания гарантировано, так как все участники системы проходят проверку. 

    .about-page__wrapper
      .about-page-list
        h2 Чтобы найти перевозчика, достаточно пройти процедуру регистрации и оформить заявку в личном кабинете. В заявке необходимо указать информацию по следующим пунктам:

        .how-page-iconed-list
          .how-page-iconed-list__item._route маршрут перевозки <br>и время подачи
          .how-page-iconed-list__item._cargo параметры груза
          .how-page-iconed-list__item._auto требуемый транспорт
          .how-page-iconed-list__item._pay условия оплаты

        .how-page-iconed-list__text
          p После размещения заявки, она сразу становится доступна перевозчикам. Уже через несколько минут после размещения перевозчики, готовые выполнить заявку, выставляют свои предложения. Вы выбираете перевозчика с оптимальным сочетанием цены и сервиса. Таким образом, ваш груз может быть доставлен точно в срок по самой выгодной цене. 

    .about-page-advantages
      h2 Почему выбирают NETEXAR

      h3 Наши достоинства – ваша выгода. Сервис NETEXAR предоставляет возможности, которые превращаются в ваши деньги.

      .about-page-advantages__item <span>1</span>Вы экономите массу времени на поиск перевозчика. Теперь компании сами вас ищут, чтобы выполнить вашу заявку наилучшим образом.
      .about-page-advantages__item <span>2</span>Вы сразу получаете информацию о стоимости и можете выбирать оптимальный вариант.
      .about-page-advantages__item <span>3</span>Мы предлагаем только проверенные компании для осуществления перевозок. Услуги вам оказывают только организации со всеми необходимыми документами и лицензиями, качественным и разнообразным автопарком.
      .about-page-advantages__item <span>4</span>Мы помогаем отслеживать ваш груз в процессе перевозки. 
      .about-page-advantages__item <span>5</span>Вы можете подписаться на уведомления нашего сервиса, чтобы всегда быть в курсе актуальных цен и другой полезной информации.

