.modal-passport {
  right: 0;
  left: 0;

  width: 450px;
  margin: 0 auto 50px;
  &._active {
    top: 50px;
  }
  &__submit {
    font-size: rem-calc(20);

    width: 100%;
    height: 50px;
    margin-bottom: 20px;

    @extend .button;
    @extend .button._green;
  }
}

.modal-passport-row {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.modal-passport-column {
  &._fourth {
    width: 24%;
  }
  &._three-quarters {
    width: 73%;
  }
}
