.modal-delete {
  position: fixed;

  width: 450px;
  &._active {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 250px;
    margin: auto;
  }
}

.modal-delete-buttons {
  display: flex;

  justify-content: center;
  align-items: center;
  &__yes {
    width: 150px;
    height: 35px;
    margin-right: 10px;

    border: 0;

    @extend .button;
    @extend .button._red;
  }
  &__no {
    line-height: 35px;

    display: block;

    width: 150px;
    height: 35px;
    margin-left: 10px;

    @extend .button;
    @extend .button._green;
  }
}
