.card {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 30px;

  border: 1px solid rgba(#8e8e8e, .15);
  background: rgba(#f9f9f9, .5);
  box-shadow: 0 3px 3px rgba($black, .05);

  @include transition;
  &:hover {
    cursor: pointer;

    border: 1px solid rgba(#8e8e8e, .44);
    box-shadow: 0 23px 23px rgba($black, .18);
    .card__hovered {
      visibility: visible;

      opacity: 1;
    }
  }
  &._full {
    border: 1px solid rgba(#8e8e8e, .44);
    &:hover {
      cursor: inherit;

      box-shadow: 0 3px 3px rgba($black, .05);
    }
  }
  &._performer {
    // padding-left: 20px;
    .card-center {
      padding-left: 0;
    }
  }
  &__hovered {
    font-size: rem-calc(11);

    bottom: 20px;

    visibility: hidden;

    text-align: center;

    opacity: 0;
    color: rgba($gray, .5);

    @include transition;
    @include horizontal-center;
  }
  &._active {
    .card__hovered {
      visibility: hidden;

      opacity: 0;
    }
  }
}

.card-small {
  display: flex;

  padding: 40px;

  justify-content: space-between;
  align-items: center;
}

.card-map {
  &__zoom {
    font-size: rem-calc(11);

    display: block;

    margin-top: 6px;

    text-align: center;
    text-decoration: none;

    color: $gray;
    &:hover {
      span {
        border-bottom: 1px solid $gray;
      }
    }
    span {
      position: relative;

      padding-bottom: 1px;

      border-bottom: 1px solid $gray + #999;
      &:before {
        position: absolute;
        left: -17px;

        content: '';

        @include bg($zoom);
      }
    }
  }
}

.card-center {
  box-sizing: border-box;
  width: 100%;
  max-width: 460px;
  padding-left: 40px;
}

.card-meta {
  font-family: $ProximaNova-Regular;
  font-size: rem-calc(12);

  margin-bottom: 10px;

  color: rgba($gray, .4);
}

.card-info {
  font-family: $ProximaNova-Regular;
  font-size: rem-calc(16);
  &__item {
    position: relative;

    margin-bottom: 10px;
    padding-left: 33px;

    color: $blue;
    &:before {
      left: 0;

      content: '';

      @include vertical-center;
    }
    &._way {
      color: $green;
      span {
        padding-left: 10px;
      }
      &:before {
        @include bg($card-route);
      }
    }
    &._parameters {
      &:before {
        left: -1px;

        @include bg($card-param);
      }
    }
    &._time {
      &:before {
        @include bg($card-time);
      }
    }
  }
}

.card-text {
  font-size: rem-calc(14);
  line-height: rem-calc(21);

  color: #7b7b7b;
}

.card-control {
  box-sizing: border-box;
  width: 100%;
  max-width: 185px;
  padding-left: 20px;
}

.card-express {
  font-size: rem-calc(11);
  line-height: 34px;

  position: relative;

  display: block;

  box-sizing: border-box;
  width: 123px;
  height: 34px;
  margin: auto;
  padding-left: 36px;

  color: $white;
  background: $red;
  &:before {
    left: 12px;

    content: '';

    @include bg($card-fast);
    @include vertical-center;
  }
}

.card-payment {
  padding: 20px 0;

  text-align: center;
  &__cost {
    font-family: $ProximaNova-Semibold;
    font-size: rem-calc(28);

    color: $gray;
  }
  &__type {
    font-family: $ProximaNova-Regular;
    font-size: rem-calc(10);

    color: #919191;
    span {
      display: block;
    }
  }
}

.card-response {
  line-height: 55px;

  display: block;

  width: 165px;
  height: 55px;

  @extend .button;
  @extend .button._green;
}

.card-count-answers {
  font-size: rem-calc(14);

  display: block;

  margin: auto;

  text-align: center;

  color: $red;
  &:hover {
    text-decoration: none;
  }
}

.card-status {
  font-size: rem-calc(11);
  line-height: 34px;

  display: block;

  box-sizing: border-box;
  width: 123px;
  height: 34px;
  margin: auto;

  text-align: center;

  color: $white;
  &._inwork {
    background-color: $green;
  }
  &._active {
    background-color: #9d9d9d;
  }
  &._finished {
    background-color: $blue;
  }
  &._canceled {
    background-color: $red;
  }
}

.card-cancel {
  position: relative;

  margin: 0 40px;
  padding: 40px 0;

  border-top: 1px solid rgba($black, .15);
  &__button {
    font-size: rem-calc(12);
    line-height: 35px;

    position: absolute;
    right: 0;

    width: 140px;
    height: 35px;

    @include vertical-center;
    @extend .button;
    @extend .button._red;
  }
}

.card-finished {
  position: relative;

  margin: 0 40px;
  padding: 40px 0;

  border-top: 1px solid rgba($black, .15);
  &._active {
    display: none;
  }
  &__text {
    font-family: $ProximaNova-Semibold;
    font-size: rem-calc(14);

    text-align: center;

    color: $black;
    p {
      margin: 0;
    }
  }
}

.card-finished-buttons {
  display: flex;

  margin-top: 20px;

  justify-content: center;
  align-items: center;
  &__control {
    font-size: rem-calc(11);
    line-height: 35px;

    height: 35px;
    margin: 0 10px;

    @extend .button;
    &._ok {
      width: 182px;

      @extend .button._green;
    }
    &._not {
      width: 142px;

      @extend .button._red;
    }
  }
}

.card-finished-reviews {
  position: absolute;

  display: flex;
  visibility: hidden;

  margin: 0 40px;
  padding: 40px 0;

  opacity: 0;
  border-top: 1px solid rgba($black, .15);

  @include transition;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &._active {
    position: relative;

    visibility: visible;

    opacity: 1;
  }
  &__title {
    font-family: $ProximaNova-Semibold;
    font-size: rem-calc(18);

    width: 100%;
    margin-bottom: 30px;

    text-align: center;

    color: $black;
  }
}

.card-finished-reviews-block {
  display: flex;

  margin: 0 10px;

  justify-content: flex-start;
  align-items: center;
  &__title {
    font-family: $ProximaNova-Semibold;
    font-size: rem-calc(14);

    margin-right: 10px;

    color: $black;
  }
}

.card-finished-reviews-buttons {
  display: flex;

  width: 100%;
  margin-top: 30px;

  justify-content: center;
  align-items: center;
  &__control {
    font-size: rem-calc(11);
    line-height: 35px;

    width: 142px;
    height: 35px;
    margin: 0 10px;

    @extend .button;
    &._ok {
      @extend .button._green;
    }
    &._not {
      @extend .button._red;
    }
  }
}

.card-interest {
  line-height: 40px;

  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;

  text-indent: -9999px;

  @extend .button;
  @extend .button._blue;
  &:before {
    content: '';

    @include bg($interest);
    @include absolute-center;
  }
  &._active {
    @extend .button._green;
    &:before {
      @include bg($interest_active);
    }
  }
  &:hover {

  }
}

.card-viewed {
  font-size: rem-calc(14);

  padding-top: 10px;

  text-align: center;

  color: $blue;
}
