mixin footer(data)
  footer.footer
    .footer__wrapper
      .footer__logo 

      .footer__row._top
        .footer__column._first
          .footer__copyright 
            p © 20016–2017 ООО «NetExAr» (ИНН 12345678900)
            p Все указанные на сайте цены носят <br>информационный  характер и не являются <br>публичной офертой (ст. 437 ГК РФ)

        .footer__column._second
          .footer-menu
            .footer-menu__item 
              a(href="#" title="") О проекте
            .footer-menu__item 
              a(href="#" title="") Как это работает
            .footer-menu__item 
              a(href="#" title="") Лента заказов
            .footer-menu__item 
              a(href="#" title="") Отзывы и предложения

        .footer__column._third
          .footer-menu
            .footer-menu__item 
              a(href="#" title="") Вопросы и ответы
            .footer-menu__item 
              a(href="#" title="") Контактная информация
            .footer-menu__item 
              a(href="#" title="") Публичная оферта
            .footer-menu__item 
              a(href="#" title="") Политика конфиденциальности

      .footer__row
        .footer__column._first
          .footer__phone +7 (495) 124-00-91
          .footer__address 
            p 123456, Москва, Кутузовский проспект,  д.12, корп. 1, <br>2-я башня, 10-й этаж
            a(href="#" title="") Посмотреть карту проезда

        .footer__column._second
          a(href="#" title="").footer__email post@netexar.ru

          .footer__text Вопросы и пожелания просьба направлять <br>по адресу: <a href="" title="">welcome@netexar.ru</a> или через форму <br>на странице <a href="#" title="">“Вопросы и пожелания”</a>

        .footer__column._third
          .footer-social
            .footer-social__title Мы в социальных сетях
            .footer-social__links
              a(href="#" title="").footer-social__item._fb
              a(href="#" title="").footer-social__item._in
              a(href="#" title="").footer-social__item._gp

          .footer-created Разработано в:
            a(href="#" title="") Ulabs.pro



