mixin card-order(data)
  .card-order
    .card-order-row
      .card-order-row__left
        .card-order__meta id4113222  |  Размещено: 14.03.2017  16:00
        .card-order__way Москва - Химки
      .card-order-row__right
        .card-payment.card-order-payment
          .card-payment__cost Договорная
          .card-payment__type безнал, без НДС (предоплата)

    .card-order-row._center
      .card-order-row__left
        .card-info.card-order-info
          .card-info__item.card-order-info__item._parameters 20 тонн, 43м<sup>3</sup>
          .card-info__item.card-order-info__item._time Погрузка сегодня (22.03.2016 17:00)
        .card-text Погрузка/разгрузка не требуется. Нужно перевезти груз сегодня от Охотного ряда до Ленинградского вокзала.
      .card-order-row__right
        .card-order-map
          .card-order-map__layout
            img(src="%=static=%images/assets/card/map.png" alt="")
          a(href="#" title="").card-order-map__zoom 
            span Увеличить карту маршрута

    .card-order-row._bottom
      .card-order-row__left
        .card-column
          .card-column__title Требуемый автомобиль:

          .card-auto-type
            .card-auto-type__row
              .card-auto-type__title Тип кузова: 
              .card-auto-type__text Бортовой 20т, 12м 

            .card-auto-type__row
              .card-auto-type__title Коника:
              .card-auto-type__text 2шт 

            .card-auto-type__row
              .card-auto-type__title Ремни:
              .card-auto-type__text 4шт 

            .card-auto-type__row
              .card-auto-type__title Тип загрузки:
              .card-auto-type__text Верхняя

            .card-auto-type__row
              .card-auto-type__title Тип выгрузки:
              .card-auto-type__text Боковая

      .card-order-row__right
        .card-column
          .card-column__title Подробный маршрут:
          
          .card-detailed-route
            .card-detailed-route__item._start Москва, ул. Новобережная, 14А
              span Дата подачи: 18.07.2016 18:00

            .card-detailed-route__length Общая протяженность: 40км

            .card-detailed-route__item._finish Москва, ул. Ташкентская, 34В
              span Дата отгрузки: 21.07.2016 с 9:00 до 10:00