mixin performer-my(data)
  .performer-my
    .performer-my__group
      .performer-my__title Мои автомобили
      a(href="#" title="").performer-my__add Добавить автомобиль

    table.table.performer-my__table
      thead
        tr
          th id
          th Марка грузовика
          th Тип грузовика
          th Номер грузовика
          th Год выпуска
          th Номер техпаспорта
          th Дата выдачи техпаспорта
          th Прикрепленные документы
      tbody
        tr
          td #12
          td MAN
          th 10 тонн
          th 00 11 00 AA
          th 1920
          th 321 1212 00
          th 18.12.2010
          th Техпаспорт
        tr
          td #15
          td MAN
          th 10 тонн
          th 00 11 00 AA
          th 1920
          th 321 1212 00
          th 18.12.2010
          th Техпаспорт
        tr
          td #19
          td MAN
          th 10 тонн
          th 00 11 00 AA
          th 1920
          th 321 1212 00
          th 18.12.2010
          th Техпаспорт
        tr
          td #112
          td MAN
          th 10 тонн
          th 00 11 00 AA
          th 1920
          th 321 1212 00
          th 18.12.2010
          th Техпаспорт

    .performer-my__group._bottom
      .performer-my__title Мои водители
      a(href="#" title="").performer-my__add Добавить водителя

    table.table.performer-my__table
      thead
        tr
          th ФИО
          th Дата рождения
          th Телефон
          th Номер ВУ
          th Автомобиль
          th Прикрепленные документы
      tbody
        tr
          td Лазарев Михаил Валерьевич
          th 28.12.1984
          th +7(495)191-12-97
          th 321 1212 00
          th #12
          th Паспорт, <br>ВУ