mixin rating(data)
  - var modiffer = attributes.class || ''
  .rating(class="#{modiffer}")
    .rating__item._full
    .rating__item._full
    .rating__item._full
    .rating__item._full
    .rating__item._empty