.rating {
  display: flex;

  justify-content: flex-start;
  align-items: center;
  &__item {
    &._full {
      @include bg($rating-full);
    }
    &._empty {
      @include bg($rating-empty);
    }
  }
  &._reviews {
    .rating__item {
      &._full {
        @include bg($rating-full-big);
      }
      &._empty {
        @include bg($rating-empty-big);
      }
    }
  }
}
