mixin order-page-content(data)
  .order-page-content
    .order-page-content-top
      .order-page-content-top__left
        +card-order
      .order-page-content-top__right
        +order-customer

    .order-page-content-bottom
      .order-page-content-bottom__left
        +selected-performer
        +order-comments
      .order-page-content-bottom__right
        +order-attention