.order-page-content {
  @extend .wrapper;
}

.order-page-content-top {
  display: flex;

  justify-content: center;
  align-items: center;
  &__left {
    width: 100%;
    max-width: 720px;
  }
  &__right {
    width: 100%;
    max-width: 270px;
  }
}

.order-page-content-bottom {
  display: flex;

  padding-bottom: 150px;

  justify-content: center;
  align-items: flex-start;
  &__left {
    width: 100%;
    max-width: 720px;
  }
  &__right {
    box-sizing: border-box;
    width: 100%;
    max-width: 270px;
    padding-top: 40px;
    padding-left: 30px;
  }
}
