.login {
  &__item {
    font-family: $ProximaNova-Regular;
    font-size: rem-calc(13);

    position: relative;

    margin-right: 30px;
    margin-left: 20px;

    text-decoration: none;

    color: $blue;
    border-bottom: 1px solid #cde0e6;

    @include transition;
    &:after {
      position: absolute;
      right: -20px;

      content: '/';

      color: #ccc;

      @include vertical-center;
    }
    &:hover {
      border-bottom: 1px solid $blue;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &:after {
        content: '';
      }
    }
    &._enter {
      &:before {
        left: -15px;

        content: '';

        @include bg($enter);
        @include vertical-center;
      }
    }
    &._reg {
      &:before {
        left: -15px;

        content: '';

        @include bg($reg);
        @include vertical-center;
      }
    }
  }
}
