mixin push-notifications(data)
  .push-notifications.jsPush
    .push-notifications__icon
      span 3
    
    .push-notifications-dropdown.jsPushDropdown
      .push-notifications-dropdown__content
        a(href="#" title="").push-notifications-dropdown-item
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

        a(href="#" title="").push-notifications-dropdown-item._green
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

        a(href="#" title="").push-notifications-dropdown-item._red
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

        a(href="#" title="").push-notifications-dropdown-item
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

        a(href="#" title="").push-notifications-dropdown-item
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

        a(href="#" title="").push-notifications-dropdown-item
          .push-notifications-dropdown-item__title Новое предложение к заказу
          .push-notifications-dropdown-item__text Владислав Святоня оставил заявку к вашему заказу #389172

      .push-notifications-dropdown-control
        a(href="#" title="").push-notifications-dropdown-control__off Выключить уведомления
        a(href="#" title="").push-notifications-dropdown-control__settings

    .mask