mixin terms-page(data)
  .terms-page
    .terms-page__wrapper
      h1 Пользовательское соглашение интернет-сервиса «Netexar»   

      p Настоящий документ «Пользовательское соглашение интернет-сервиса «Netexar»     представляет собой предложение Администрации  заключить соглашение на изложенных ниже условиях.

      h2 Перед использованием интернет-сервиса «Netexar», пожалуйста, ознакомьтесь с условиями настоящего Соглашения.

      h2 1. Основные термины и определения, используемые в Соглашении

      p 1.1. <strong>Сервис</strong> — интернет-сайт, представляющий собой совокупность размещенных в сети Интернет веб-страниц, объединенных единым адресным пространством домена <a href="http://www.netexar.ru/" title="ООО Нетексар">www.netexar.ru</a>, а так же интегрированное с ним приложение для мобильных устройств, предназначенные для взаимодействия Пользователей (Заказчиков и Перевозчиков (исполнителей)). Посредством Сервиса Пользователи осуществляют выбор контрагента для заключения договора перевозки груза, а также согласуют существенные условия договора перевозки;

      p 1.2. <strong>Администрация</strong> —  Общество с ограниченной ответственностью «Нетексар» (ОГРН 1177746640037), действующее в соответствии с законодательством Российской Федерации, осуществляющее администрирование Сервиса и разместившее оферту. Администрации принадлежат все соответствующие исключительные права на сайт <a href="http://www.netexar.ru/" title="ООО Нетексар">www.netexar.ru</a> (включая права на доменное имя сайта) и интегрированное с ним приложение для мобильных устройств;

      p 1.3. <strong>Модератор Сервиса</strong> – лицо, осуществляющее от имени Администрации контроль за соблюдением Пользователями условий настоящего соглашения при использовании Сервиса, и управомоченное незамедлительно пресекать нарушения, в том числе: полностью либо частично удалять заказы, заявки, сообщения Пользователей, иную информацию, аннулировать регистрацию Пользователя на Сервисе, удалять любую информацию или материалы, которые по мнению Администрации являются неприемлемыми либо нежелательными;

      p 1.4. <strong>Контент</strong> — элементы дизайна, иллюстрации, графические изображения, скрипты, программы, видео, музыка, звуки, текст и другие объекты, являющиеся результатом интеллектуальной деятельности или не являющиеся таковыми, права на которые принадлежат Администрации, Пользователям, партнерам Администрации или иным лицам;

      p 1.5. <strong>Пользователь</strong> — любое лицо, заключившее настоящее Соглашение с Администрацией в своем или чужом интересе в соответствии с требованиями действующего законодательства и настоящего Соглашения;
      
      p 1.6. <strong>Заказчик</strong> – юридическое или физическое лицо (в том числе индивидуальный предприниматель), зарегистрированное на Сервисе и разместившее посредством Сервиса заказ на перевозку грузов;
      
      p 1.7. <strong>Перевозчик</strong> – юридическое или физическое лицо (в том числе индивидуальный предприниматель), являющееся пользователем Сервиса и прошедшее процедуру верификации;
      
      p 1.8. <strong>Регистрация</strong> – предоставление физическим либо юридическим лицом Администрации информации для формирования персональной страницы Пользователя (личного кабинета), включая уникальные для каждого Пользователя логин и пароль доступа к Сервису, а также фамилию и имя физического лица, наименование, ИНН и ОГРН юридического лица;
      
      p 1.9. <strong>Верификация</strong> – проводимая Администрацией процедура проверки и подтверждения подлинности информации и документов, представленных Перевозчиком при подаче заявки на регистрацию. Процедура верификации включает в себя оценку представленных документов, в том числе сопоставление их с информацией, содержащейся в публичных государственных реестрах и на официальных интернет-порталах органов государственной власти. Процедура верификации может включать и иные действия Администрации в соответствии с условиями настоящего соглашения;
      
      p 1.10. <strong>Заказ</strong> – приглашение делать оферты размещенное на Сервисе Заказчиком и адресованное Перевозчикам;
      
      p 1.11. <strong>Предложение</strong> – оферта, направляемая Перевозчиком Заказчику посредством Сервиса;
      
      p 1.12. <strong>Аккаунт</strong> – предоставленная пользователем и (или) присвоенная Администрацией Сервиса совокупность данных о пользователе, необходимая для его аутентификации на Сервисе и предоставления доступа к его личным данным (личному кабинету) и настройкам;
      
      p 1.13. <strong>Личный счет</strong> – виртуальный счет Пользователя на Сервисе;
      
      p 1.14. <strong>Комиссия сервиса</strong> – плата, вносимая Перевозчиками за пользование услугами Сервиса, выраженная в рублях РФ, и определяемая в соответствии с правилами, изложенными в настоящем Соглашении;
      
      p 1.15. <strong>Пользовательское соглашение (Соглашение)</strong> — соглашение, определяющее условия и порядок использования Сервиса, регламентирующее иные отношения, возникающие между Администрацией и Пользователем;

      p 1.16. В настоящем Соглашении могут быть использованы термины, не определенные в настоящем разделе. В этом случае значение такого термина устанавливается путем сопоставления с условиями и смыслом Соглашения в целом. В случае невозможности уяснения значения термина исходя из смысла Соглашения он трактуется в первую очередь – в соответствии с гражданским законодательством РФ, во вторую – в соответствии со сложившейся деловой практикой и обычаями делового оборота.

      h2 2. Общие положения

      p 2.1. Предметом настоящего Соглашения является предоставление Администрацией Пользователю доступа к использованию Сервиса в целях удовлетворения потребностей Пользователя.
      
      p 2.2. Настоящее Пользовательское соглашение является юридически обязательным документом и регулирует отношения между Администрацией и Пользователем по пользованию Сервисом.
      
      p 2.3. Пользуясь Сервисом, Пользователь соглашается с тем, что:
      
      ul
        li он ознакомился с условиями настоящего Соглашения в полном объеме до начала использования Сервиса.
        li настоящее Соглашение, согласно статье 435 Гражданского Кодекса Российской Федерации, является офертой, а начало использования Пользователем Сервиса в любой форме означает, что он принимает все условия настоящего Соглашения в полном объеме без каких-либо изъятий и ограничений с его стороны (акцепт). Использование Сервиса на иных условиях не допускается. Настоящее Соглашение, заключаемое путем акцепта настоящей оферты, не требует двустороннего подписания и действительно в электронном виде.
        li если Пользователь не согласен с условиями настоящего Соглашения или не имеет права на его заключение в силу закона, ему следует незамедлительно прекратить любое использование Сервиса.
        li Соглашение (в том числе любая из его частей) может быть изменено Администрацией без какого-либо специального уведомления. Новая редакция Соглашения вступает в силу с момента ее размещения на Сервисе, если иное не предусмотрено новой редакцией Соглашения. Размещение новой редакции Соглашения на Сервисе является надлежащим уведомлением Пользователей об изменении условий Соглашения. В случае несогласия Пользователя с новой редакцией Соглашения, пользователь обязуется незамедлительно прекратить использование Сервиса.  Использование Сервиса Пользователем после изменения условий Соглашения свидетельствует о принятии им условий Соглашения в новой редакции.
        li расчёты по настоящему Соглашению могут производиться Администрацией, в том числе, с помощью третьих лиц – партнёров Администрации. Соответственно, для целей осуществления расчётов между Администрацией и Пользователем по настоящему Соглашению Пользователю может быть необходимо принять условия договоров партнёров Администрации, помогающих ей осуществлять расчёты с Пользователем, таких как поставщики платёжных услуг, партнёрских сервисов, и иных аналогичных компаний-партнёров Администрации.

      p 2.4. Отношения сторон могут быть дополнительно урегулированы отдельными документами и соглашениями, регламентирующими использование соответствующих сервисов. Применение таких дополнительных документов и соглашений не отменяет действие настоящего Соглашения.

      h2 3. Предмет соглашения

      p 3.1. В рамках настоящего соглашения Администрация оказывает Пользователю следующие услуги технического и информационного характера:
      ul
        li предоставление Заказчику возможности с использованием функционала Сервиса: формировать заказ на перевозку груза, получать информацию о предложениях Перевозчиков; проводить переговоры по поводу условий перевозки; осуществлять выбор контрагента по договору перевозки груза; использовать иной функционал Сервиса;
        li предоставление Пользователям информации о размещенных на Сервисе заказах на перевозку груза;
        li  предоставление Перевозчику возможности: оставлять предложения к размещенным на Сервисе заказам; уточнять условия заказа; проводить переговоры по поводу условий перевозки с Заказчиками; осуществлять выбор контрагента по договору перевозки груза; использовать иной функционал Сервиса.

      p 3.2. Услуги по предоставлению Перевозчику технической возможности оставлять предложения к заказам предоставляется за плату (комиссия Сервиса), размер и порядок взимания которой определяется в соответствии с условиями настоящего Соглашения.
      
      p 3.3. Администрация предоставляет Пользователям личное неисключительное и непередаваемое право использовать сервис и программное обеспечение, представленное на сервисе, в соответствии с настоящим Соглашением, при условии, что ни Пользователь, ни любые иные лица при содействии не будут совершать действий: по копированию или изменению программного обеспечение Сервиса; по созданию программ, производных от программного обеспечения Сервиса; по осуществлению продажи, уступки, сдачи в аренду, передачи третьим лицам в любой иной форме прав в отношении материала Сервиса и программного обеспечения Сервиса; по модифицированию Сервиса в том числе с целью получения несанкционированного доступа к нему; и иных действий, аналогичных перечисленным выше и нарушающих права Администации и/или третьих лиц;
    
      p 3.4. Пользователь Сервиса обязуется безоговорочно соблюдать правила использования Сервиса, установленные настоящим Соглашением, в том числе правила обмена контактными данными Пользователями сервиса.
      
      p 3.5. Администрация не гарантирует круглосуточную доступность и бесперебойную работу Сервиса. Администрация имеет право в любой момент отказать любому Пользователю, в использовании Сервиса при нарушении Соглашения.

      h2 4. Регистрация пользователей и верификация

      p 4.1. Для использования Сервиса в качестве Заказчика или Перевозчика Пользователь обязан пройти процедуру регистрации. 
      
      p 4.2. Для работы на Сервисе в качестве Перевозчика Пользователь обязан пройти процедуру верификации в порядке, предусмотренном настоящим Соглашением.

      p 4.3. С целью регистрации на сервисе Пользователь представляет следующие документы и информацию:
      ul
        li номер телефона;
        li адрес электронной почты;
        li фамилию, имя, отчество физического лица, либо наименование юридического лица;
        li ИНН, ОГРН юридического лица;
        li место жительства физического лица, либо место нахождения юридического лица.

      p 4.4. Помимо информации указанной в п. 4.3. настоящего Соглашения, Перевозчик предоставляет следующие документы и информацию:
      ul
        li документы, подтверждающие наличие одного или нескольких транспортных средств на законных основаниях (ПТС, договор лизинга, договор аренды транспортного средства и др.);
        li паспорт транспортного средства (ПТС);
        li свидетельство о регистрации транспортного средства;
        li водительское удостоверение, подтверждающее право управления транспортным средством соответствующей категории;
        li документ, удостоверяющий личность водителя;
        li трудовой или иной договор с водителем транспортного средства (за исключением случаев, когда перевозчиком выступает физическое лицо или индивидуальный предприниматель, одновременно являющийся водителем транспортного средства);
        li телефонный номер водителя транспортного средства;
        li согласие водителя транспортного средства на обработку Администрацией его персональных данных, включая хранение, обезличивание, и передачу таких данных третьим лицам (Заказчикам).

      p 4.5.  Помимо документов, указанных в п. 4.4. Перевозчик вправе по своему усмотрению предоставить документы:
      ul
        li о страховании своей ответственности за сохранность груза;
        li документы, подтверждающие деловую репутацию (рекомендации, благодарственные письма и др.).
      
      p 4.6. По завершении регистрации Заказчику присваивается уникальные логин и пароль, обеспечивающие его доступ к функционалу Сервиса. Заказчик указывает логин и пароль самостоятельно в специально отведенных полях регистрационной формы.
      
      p 4.7. Присвоение уникальных логина и пароля Перевозчику осуществляет Администрация после прохождения таким Перевозчиком процедуры верификации.
      
      p 4.8. С целью проверки и подтверждения подлинности информации и документов, представленных Перевозчиком, Администрация проводит верификацию Перевозчика. Верификация производится Администрацией в два этапа.
      
      p 4.9. На первом этапе процедура верификации включает в себя оценку Администрацией представленных документов и информации, в том числе сопоставление их с информацией, содержащейся в публичных государственных реестрах посредством онлайн-сервисов органов государственной власти, а именно:
      ul
        li сопоставление с данными ЕГРЮЛ/ ЕГРИП (посредством сервиса ФНС России <a href="https://egrul.nalog.ru/" target="_blank" title="">https://egrul.nalog.ru/</a>)
        li сопоставление с данными Единого федерального реестра юридически значимых сведений о фактах деятельности юридических лиц, индивидуальных предпринимателей и иных субъектов экономической деятельности (посредством сервиса <a href="http://www.fedresurs.ru/" target="_blank" title="">http://www.fedresurs.ru/</a>);
        li проверка действительности документов, подтверждающих права на транспортное средство и водительского удостоверения посредством Интерактивных сервисов для проверок по банкам данных Госавтоинспекции <a href="http://www.gibdd.ru/check/" target="_blank" title="">http://www.gibdd.ru/check/</a>;
        li проверка действительности паспорта водителя и/или перевозчика- физического лица  (посредством сервиса ФМС России <a href="http://services.fms.gov.ru/info-service.htm?sid=2000" target="_blank" title="">http://services.fms.gov.ru/info-service.htm?sid=2000</a>).
      
      p Администрация вправе производить иные действия с целью проведения верификации.
      
      p В случае обнаружения несоответствия данных, указанных Перевозчиком при регистрации с данными федеральных реестров и сервисов органов государственной власти, Администрация  вправе либо отказать Перевозчику в регистрации, либо аннулировать его регистрацию, либо предоставить возможность для внесения изменений в представленные сведения.
      
      p 4.9. На втором этапе верификации подлинность документов и информации о Перевозчике, указанных в пп. 4.3.-4.5. настоящего Соглашения, а также наличие в законном владении Перевозчика автотранспортных средств, может удостоверяться по требованию Администрации лично сотрудниками Администрации. Перевозчик обязуется представить Администрации для ознакомления оригиналы документов, подтверждающих информацию, указанную в п.п. 4.3.-4.5. Соглашения, а также по требованию Администрации организовать осмотр транспортных средств.
      
      p 4.10. Срок верификации не может превышать пяти рабочих дней.
      
      p 4.11. Администрация имеет право отказать Перевозчику в верификации без объяснения причин отказа независимо от затрат и усилий, понесенных Перевозчиком при прохождении процедуры Верификации.
      
      p 4.12. Пользователь обязуется не передавать третьим лицам данные, обеспечивающие доступ таких лиц к Сервису от имени Пользователя (логин и пароль).

      h2 5. Правила взаимодействия Заказчиков и Перевозчиков на Сервисе

      p 5.1. Взаимодействие Заказчика и Перевозчика на Сервисе осуществляется посредством:
      ul
        li формирования и размещения заказов;
        li направления Перевозчиками предложений; 
        li обсуждения условий перевозки в комментариях к заказу.

      p 5.2.  Заказ на перевозку груза является предложением делать оферты и формируется Заказчиком посредством заполнения специальной формы на Сервисе. Описание заказа должно включать:
      ul
        li дату и время погрузки; 
        li тип груза; 
        li вес груза в тоннах; 
        li объем груза в кубических метрах; 
        li пожелания к транспорту;
        li порядок расчета с Перевозчиком; 
        li иную информацию, отмеченную в форме заказа как обязательную к заполнению.
      
      p Заказ, не содержащий обязательную информацию не подлежит размещению на Сервисе. 

      p 5.3. Заказчик не вправе вносить изменения в заказ после его размещения на Сервисе.
      
      p 5.4. С момента размещения заказа ему присваивается статус «активный». «Активный» заказ отображается на Сервисе и доступен для подачи предложений Перевозчиков.
      
      p 5.5. Заказчик вправе удалить заказ либо изменить его статус на «завершенный». «Завершенный» заказ отображается на Сервисе, но не доступен для подачи предложений Перевозчиков.
      
      p 5.6. В случае, если к моменту наступления даты отгрузки, указанной в заказе, Заказчик не выбрал перевозчика для исполнения заказа, либо ни один из выбранных перевозчиков не подтвердил принятие заказа к исполнению, такому заказу присваивается статус «завершенного», независимо от наличия либо отсутствия предложений Перевозчиков об исполнении такого заказа.
      
      p 5.7. Перевозчик подает предложения (оферту) на исполнение заказа, содержащее предлагаемую им цену за перевозку. Предложения могут содержать иные существенные условия перевозки груза. Перевозчик вправе подать только одно предложение на один заказ.  Перевозчик не вправе вносить изменения в поданное предложение. Перевозчик вправе отозвать свое предложение в любой момент до момента принятия предложения и подтверждения принятия заказа к исполнению.

      p 5.8. Перевозчик вправе оставлять предложения при нулевом или положительном балансе личного счета. В случае, если предложение Перевозчика принято Заказчиком и Перевозчик подтвердил принятие заказа к исполнению, размер комиссии Сервиса удерживается Администрацией с личного счета Перевозчика. В случае, если после удержания комиссии Сервиса баланс личного счета Перевозчика становится меньше нуля, Перевозчик не вправе подавать предложения к иным заказам, а ранее поданные, но не принятые предложения автоматически аннулируются Сервисом до внесения Перевозчиком денежных средств на личный счет.
    
      p 5.9.  Предложения Перевозчиков доступны заказчику и отображаются в его личном кабинете. Предложения Перевозчиков скрыты от иных Пользователей Сервиса.
      
      p 5.10. Заказчик вправе принять предложение/предложения Перевозчиков (встречная оферта). Администрация вправе лимитировать количество предложений, которые вправе принять Заказчик, в том числе до одного предложения.
      
      p 5.11. В случае принятия предложения Перевозчика последний должен подтвердить принятие заказа к исполнению на согласованных условиях (акцепт встречной оферты). С момента подтверждения принятия заказа к исполнению Заказчик и Перевозчик признаются заключившими между собой предварительный договор о перевозке груза. 
      p В случае выбора Заказчиком нескольких Перевозчиков договор считается заключенным с тем из них, который первым подтвердит принятие заказа к исполнению. Предложения остальных Перевозчиков к данному заказу автоматически аннулируются.
      
      p 5.12. Настоящим Пользователи подтверждают, что информированы о том, что в соответствии с требованиями законодательства РФ заключение договора перевозки груза подтверждается транспортной накладной. Договор, заключенный посредством Сервиса, не является подтверждением заключения договора перевозки, а может трактоваться исключительно как предварительный договор. Администрация не несет ответственности в случае ненадлежащего юридического оформления договора перевозки груза Пользователями.

      p 5.13. После надлежащего исполнения Перевозчиком и Заказчиком договора перевозки, Заказчик изменяет статус заказа на «Завершенный». 
      
      p После завершения заказа Заказчик и Перевозчик обязуются оставить взаимные отзывы в специальной форме, размещенной на Сервисе. 

      p 5.14. Перевозчик осуществляет перевозку грузов по заказам, размещенным Заказчиками на Сервисе своими силами, если иное прямо не следует из договоренностей Перевозчика с Заказчиком.
      
      p 5.15. До момента выбора Заказчиком Перевозчика персональные данные последнего отображаются в обезличенном виде.
      
      p 5.16. Пользователям запрещается размещение на сервисе любых контактных данных, включая номер телефона, адрес электронной почты, страницы в социальных сетях, личный интернет-сайт, skype, а также иные данные, направленные на общение Заказчика и Перевозчика вне Сервиса, за исключением размещения таких контактных данных в специально предназначенных полях регистрационной формы. Обмен контактными данными Заказчика и перевозчика происходит автоматически после подтверждения Перевозчиком принятия заказа к перевозке. 
      
      p Модератор Сервиса вправе без объяснения причин удалять любую информацию, включая заказы, предложения, комментарии и сообщения в случае, если таковые нарушают условия настоящего соглашения, требования законодательства РФ, содержат ненормативную лексику, оскорбления Пользователей, Администрации либо иную нежелательную для Администрации информацию.

      h2 6.  Права и обязанности Пользователя
      
      p 6.1.  Пользователь вправе:
      ul
        li знакомиться с материалами Сервиса и использовать его функционал в соответствии с настоящим Соглашением;
        li осуществлять иные, не запрещенные законодательством Российской Федерации или Соглашением действия, связанные с использованием Сервиса.
      
      p 6.2. Пользователь обязуется:
      ul
        li соблюдать действующее законодательство Российской Федерации, не нарушать права третьих лиц, информировать Администрацию о любых нарушениях;
        li не совершать указанные в разделе 8 Пользовательского соглашения запрещенные действия;
        li постоянно следить за внесенными в настоящее Соглашение и Политику конфиденциальности изменениями;
        li нести иные обязанности, указанные в других разделах  настоящего Соглашения.

      h2 7.  Права Администрации

      p 7.1. Администрация обладает исключительными правами на Контент, в том числе программные продукты Сервиса  в целом и включаемые в их состав или используемые совместно с ними программы для ЭВМ, базы данных, картографические, справочно-информационные и прочие текстовые материалы, изображения и иные объекты авторских и/или смежных прав, а равно объекты патентных прав, товарные знаки, коммерческие обозначения и фирменные наименования, а также иные части программных продуктов (независимо от того, входят ли они в их состав или являются дополнительными компонентами, и возможно ли их извлечение из их состава и использование самостоятельно) в отдельности. Указанные права защищены в соответствии с Частью IV Гражданского кодекса Российской Федерации. 
      
      p 7.2. Администрация осуществляет текущее управление Сервисом, определяет его структуру, внешний вид, разрешает или ограничивает доступ Пользователей к Сервису, осуществляет иные принадлежащие ей права.
      
      p 7.3. Администрация решает вопросы о порядке размещения на Сервисе рекламы, участия в партнерских программах и т.д.
      
      p 7.4. Администрация имеет право:
      ul
        li в любое время изменять оформление Сервиса, его содержание, изменять или дополнять используемые скрипты, программное обеспечение, Контент и другие объекты, используемые или хранящиеся на сайте, любые серверные и клиентские приложения, с уведомлением Пользователя или без такового;
        li удалять без каких-либо причин и без предупреждения любые публикации пользователей и иной Контент, в том числе Контент, который по усмотрению Администрации нарушает и/или может нарушать законодательство Российской Федерации, положения Соглашения, права других Пользователей или третьих лиц, причинять им вред или угрожать безопасности;
        li осуществлять рассылку Пользователям сообщений (в том числе сообщений по электронной почте), являющихся уведомлениями о введении в действие новых, либо отмене старых сервисов, утверждении и опубликовании новой редакции Соглашения, политики конфиденциальности, уведомлений, содержащих рекламную информацию о сервисах Администрации и сервисах партнеров Администрации.
        li показывать Пользователю рекламные материалы на Сервисе.

      h2 8.  Ограничения и запреты

      p 8.1.  Пользователю запрещается:
      ol
        li осуществлять сбор персональных данных других Пользователей;
        li использовать любые автоматические или автоматизированные средства для сбора информации, размещенной на Сервисе;
        li осуществлять пропаганду или агитацию, возбуждающую социальную, расовую, национальную или религиозную ненависть и вражду, пропаганду войны, социального, расового, национального, религиозного или языкового превосходства, оскорбление религиозных чувств и убеждений других пользователей, а также кощунственное осквернение используемой ими символики;
        li оставлять публикации в провокационном стиле (троллинг), размещать бессмысленные и неинформативные отзывы (флуд) и чрезмерное цитирование (оверквотинг);
        li размещать на Сервисе информацию ограниченного доступа (конфиденциальную информацию) третьих лиц, если Пользователь не обладает достаточными правами в силу закона или договора на раскрытие данной информации;
        li размещать, воспроизводить, копировать, перерабатывать, распространять, опубликовывать на Сервисе, доводить до всеобщего сведения, скачивать, передавать, продавать или иным способом использовать целиком или по частям Контент Администрации, партнеров Администрации, иных Пользователей и третьих лиц без их предварительного разрешения, кроме случаев, установленных Пользовательским соглашением, действующим законодательством Российской Федерации, а также случаев, когда правообладатель явным образом выразил свое согласие на свободное использование собственного Контента любым лицом. Размещая Контент на Сервисе иным образом, Пользователь подтверждает, что обладает всеми необходимыми для этого правами, включая право на доведение до всеобщего сведения, что такое размещение не нарушает и не будет нарушать права и законные интересы правообладателей и третьих лиц, и что все необходимые разрешения и согласия со стороны соответствующих правообладателей и третьих лиц были в надлежащем порядке и явным образом для этого получены. На Сервисе не разрешается размещать Контент, если Пользователь не имеет для этого необходимых прав и/или согласия правообладателя.
        li  размещать на Сервисе в открытом доступе текстовые сообщения, графические изображения или иные материалы, содержание которых является оскорбительным для других Пользователей или иных лиц или может быть расценено в качестве такового, а также сообщения, изображения и иные материалы, которые дискредитируют пользователей или иных лиц, содержат угрозы, призывы к насилию, совершению противоправных деяний, антиобщественных, аморальных поступков, а также совершению любых иных действий, противоречащих основам правопорядка и нравственности;
        li размещать на Сервисе материалы (в том числе не соответствующие действительности), размещение которых наносит или может нанести ущерб чести, достоинству и деловой репутации гражданина или деловой репутации организации;
        li размещать на Сервисе информацию, содержащую нецензурные слова и выражения;
        li размещать на Сервисе материалы порнографического характера или гипертекстовые ссылки на интернет-сайты, содержащие такие материалы;
        li размещать на Сервисе персональные данные, в том числе контактные данные, других Пользователей или иных лиц без их предварительного согласия;
        li указывать заведомо ложную или вымышленную информацию о себе;
        li осуществлять навязчивую пропаганду каких-либо учений, теорий, взглядов, не связанных с тематикой Сервиса и (или) поощряющих к разделению, агрессии и ненависти к любой социальной или культурной категории;
        li размещать на Сервисе в открытом доступе без предварительного согласия Администрации текстовые сообщения, графические изображения и иные материалы, которые содержат рекламу, за исключением случаев, когда рекламные материалы согласованы с Администрацией;
        li осуществлять действия, направленные на дестабилизацию функционирования Сервиса, осуществлять попытки несанкционированного доступа к управлению Сервисом или его закрытым разделам (разделам, доступ к которым разрешен только Администрации), а также осуществлять любые иные аналогичные действия;
        li обсуждать действия Администрации публично;

      h2 9. Гарантии и ответственность

      p 9.1. Принимая условия настоящего Соглашения, Пользователь гарантирует, что:
      ul
        li вся информация, представленная при регистрации и верификации является подлинной;
        li лицо, использующее Сервис от имени Пользователя имеет на то достаточные полномочия.
      
      p 9.2. Принимая условия настоящего Соглашения, Перевозчик заверяет, что:
      ul
        li на момент заключения настоящего соглашения, а также на момент заключения сделок посредством Сервиса не находится в процессе ликвидации; 
        li в отношении него отсутствует решение арбитражного суда о признании Перевозчика- юридического лица или индивидуального предпринимателя несостоятельным (банкротом) и об открытии конкурсного производства;
        li его деятельность не приостановлена в порядке, установленном Кодексом Российской Федерации об административных правонарушениях;
        li Перевозчик на законном основании владеет транспортными средствами, в количестве необходимом и достаточном для исполнения заказа, на который Перевозчик подал заявку с использованием Сервиса;
        li перевозки осуществляются с соблюдением всех обязательных требований, предъявляемых законодательством РФ к автомобильным перевозкам, в том числе  «Правил перевозок грузов автомобильным транспортом», утвержденных Постановлением Правительства РФ от 15.04.2011 № 272;
        li в штате Перевозчика есть сотрудники, имеющие право управления транспортными средствами, в количестве необходимом и достаточном для исполнения заказа или заказов, на которые Перевозчик подал заявку с использованием Сервиса (за исключением случая, когда Перевозчик выступает как физическое лицо (в том числе индивидуальный предприниматель) и осуществляет перевозки лично);
        li предоставление Перевозчиком Администрации персональных данных его сотрудников при прохождении процедуры верификации на Сервисе, происходит с письменного согласия таких сотрудников, полученного в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ (ред. от 03.07.2016) «О персональных данных»;
        li сотрудники Перевозчика, чьи персональные данные предоставлены Администрации, выразили свое согласие на обработку своих персональных данных Администрацией, в том числе на их предоставление третьим лицам (Заказчикам), добровольно.
      
      p 9.3. В случае, если указанные в п.п. 9.1.-9.2. настоящего соглашения заверения об обстоятельствах являются ложными, Пользователь обязуется возместить Администрации по ее требованию убытки, причиненные недостоверностью таких заверений, а Администрация оставляет за собой право отключения Аккаунта Пользователя.
      
      p 9.4. Администрация не несет ответственности за достоверность информационных и/или рекламных материалов третьих лиц, размещенных на Сервисе, доступность их интернет-сайтов и их содержание, а также за любые последствия, связанные с использованием информации и/или рекламы, а также интернет-сайтов третьих лиц.
      
      p 9.5. Поскольку Сервис находится на стадии постоянного дополнения и обновления новых функциональных  возможностей, форма и характер предоставляемых возможностей Сервиса могут время от времени меняться без предварительного уведомления Пользователя. Администрация вправе по собственному усмотрению прекратить (временно или окончательно) показ материалов Сервиса (или каких-либо его отдельных частей) всем Пользователям вообще или отдельному Пользователю в частности без предварительного уведомления.
      
      p 9.6. Пользователь несет ответственность за любое нарушение обязательств, установленных настоящим Соглашением и (или) применимым правом, а также за все последствия таких нарушений (включая любые убытки, которые может понести Администрация и иные третьи лица).
      
      p 9.7. Администрация оставляет за собой право  в случае нарушения ее исключительных прав на объекты интеллектуальной собственности предпринимать соответствующие меры к нарушителям в порядке, установленном действующим законодательством Российской Федерации.
      
      p 9.10. Пользователь гарантирует, что размещение им на Сервисе или передача посредством сообщений информации, Контента, иных охраняемых законом результатов интеллектуальной деятельности, их частей или копий, а также иных материалов не нарушает чьих-либо прав и законных интересов. В случае поступления претензий третьих лиц в связи с нарушением Пользователем условий Пользовательского соглашения в части размещения информации и/или Контента третьих лиц, Администрация вправе осуществить передачу в рамках, допустимых законом, доступной ей контактной информации Пользователя лицам, обратившимся с претензиями, в целях урегулирования возникших разногласий.

      p 9.11. Администрация гарантирует использование со стороны Администрации указанного в Пользователем адреса электронной почты для связи Администрации с Пользователем, отправки Пользователю уведомлений, сообщений, а также иной информации с согласия Пользователя, если иное не предусмотрено Пользоательским соглашением или действующим законодательством.

      p 9.12. Администрация не несет ответственности за возможные сбои и перерывы в работе Сервиса и вызванные ими потерю информации. Администрация не несет ответственности за любой ущерб компьютеру Пользователя, мобильным устройствам, любому другому оборудованию или программному обеспечению, вызванный или связанный с использованием Сервиса или сайтов, доступных по гиперссылкам, размещенным на Сервисе.

      p 9.13. Администрация не несет ответственности за любой ущерб, включая упущенную выгоду, или вред, вызванные в связи с использованием Сервиса, Контента или иных материалов, к которым Пользователь или иные лица получили доступ при помощи Сервиса, даже если Администрация предупреждала или указывала на возможность причинения такого ущерба или вреда.
      
      p 9.14. Администрация не несет ответственности за любой ущерб, который может быть причинен Пользователю, включая потерю данных, удаление Контента или прекращение функционирования Сервиса.
      
      p 9.15. Администрация не несет ответственности за неоказание или некорректное оказание услуг Пользователю Перевозчиками, партнерами Администрации, либо за неполучение ожидаемых Пользователем результатов от использования Сервиса либо сервиса партнера Администрации.

      p 9.16. Пользователь самостоятельно несет ответственность за соответствие содержания размещаемого Пользователем Контента требованиям действующего законодательства, включая ответственность перед третьим лицами. 
      
      p 9.17. Пользователь несет персональную ответственность за любой Контент или иную информацию, которые он загружает на Сервис или иным образом доводит до сведения других пользователей на Сервисе или с его помощью. Пользователь обязуется самостоятельно разрешать претензии третьих лиц, связанные с неправомерным размещением Контента и информации.
      
      p 9.18. Гиперссылки на любой сайт, продукт, услугу, любую информацию коммерческого или некоммерческого характера, размещенные на Сервисе, не являются одобрением или рекомендацией данных продуктов (услуг) со стороны Администрации. Администрация не несет ответственности за ущерб, причиненный Пользователю в результате перехода по таким гиперссылкам.
      
      p 9.19. Переход к сайтам третьих лиц, установка программ и потребление услуг третьих лиц осуществляется Пользователем на свой риск. К взаимоотношениям Пользователя и третьих лиц положения Пользовательского соглашения не применяются.
      
      p 9.20. В случаях, не урегулированных настоящим Соглашением, Стороны несут ответственность в соответствии с законодательством Российской Федерации.

      h2 10. Комиссия сервиса (порядок расчетов сторон)

      p 10.1. Услуги по предоставлению Перевозчику технической возможности оставлять предложения к заказам предоставляется за плату (комиссия сервиса). Размер  комиссии определяется Администрацией и отображается в личном кабинете Пользователя. При регистрации Перевозчик получает возможность создать личный счет, который может быть использован при использовании услуг. Пополнение счета на Сервисе производится способами, доступными на Сервисе. Перевозчик может отслеживать состояние личного счета на Сервисе в любое время.

      p 10.2. Администрация не несет ответственности за изменение состояния личного счета Пользователя за счет действий третьих лиц. Перевод средств с личного счета одного Пользователя на счет другого Пользователя невозможен. Средства, зачисленные на личный счет Пользователем самостоятельно, могут быть возвращены последнему, тем же способом платежа, при помощи которого осуществлялся перевод в адрес Сервиса. Сроки возврата денежных средств определяются техническими возможностями платежных систем, при помощи которых осуществлялось пополнение личного счета. Вывод средств, находящихся на личном счете, иными способами не возможен.
      
      p 10.3. Списание денежных средств с личного счета Перевозчика в счет оплаты комиссии Сервиса осуществляется в момент подтверждения Перевозчиком принятия заказа к исполнению.

      h2 11. Заключительные положения

      p 11.1. Все разногласия, возникающие между Сторонами, подлежат урегулированию путем переговоров. Досудебный порядок разрешения спора, вытекающего из отношений, регулируемых Пользовательским соглашением, считается обязательным. Срок для досудебного урегулирования претензий составляет 10 (десять) рабочих дней с момента получения соответствующей претензии. При недостижении согласия по поводу урегулирования спора, такой спор подлежит рассмотрению и разрешению в суде по месту нахождения Администрации.
      
      p 11.2. Признание судом какого-либо положения Соглашения недействительным и не подлежащим применению не влечет за собой недействительности иных положений Соглашения.

      p 11.3. Под действие настоящего Соглашения подпадают все существующие в настоящее время материалы и возможности Сервиса, а так же их любые последующие версии и модификации с момента их размещения на Сервисе. 
