mixin account-success(data)
  - var modiffer = attributes.class || '';
  .account-success(class="#{modiffer}")
    .account-success__title Повысьте доверие пользователей к себе – привяжите ваши аккаунты социальных сетей к профилю. Мы обязуемся не раскрывать ваши контакты.

    .account-success__list
      .account-success-item._phone +7 (495) 999 10 00
      .account-success-item._email._not E-mail
        a(href="#" title="").account-success-item__button Привязать
      .account-success-item._fb._not Facebook
        a(href="#" title="").account-success-item__button Привязать
      .account-success-item._vk._not Vkontakte
        a(href="#" title="").account-success-item__button Привязать