// structure:
// tabs.jsTabs
// tabs-control.jsTabsControl
// tabs-content.jsTabsContent

//- mixin tabs-control(tabsControl)
//-   - var modiffer = attributes.class || ''
//-   .tabs-control.jsTabsControl(class="#{modiffer}")
//-     - each item in mainTabs
//-       .tabs-control__item(class="#{item.class} #{item.state}")= item.name