.tabs-control {
  display: flex;

  border-bottom: 1px solid $light-gray;

  justify-content: flex-start;
  align-items: flex-end;
  &._main {
    border-bottom: 0;
    .tabs-control__item {
      font-size: rem-calc(18);

      margin-right: 20px;
      padding: 15px 30px;
      &:last-child {
        color: $green;
        &._active {
          border-bottom: 2px solid $green;
        }
      }
    }
  }
  &__item {
    padding: 10px 25px;

    color: $blue;
    border-bottom: 2px solid transparent;
    &:hover {
      cursor: pointer;

      border-bottom: 2px solid $light-gray;

      @include transition;
    }
    &._active {
      border-bottom: 2px solid $blue;
    }
  }
}
