mixin about-page(data)
  .about-page
    .about-page-top
      .about-page__wrapper
        h1 О проекте

        p Грузоперевозки – неотъемлемая часть товарооборота и ведения экономической деятельности буквально в любой сфере. Организацию таковых, как правило, берут на себя многочисленные диспетчерские и логистические компании. Но прогресс не стоит на месте, и сегодня можно развиваться благодаря повсеместному доступу в интернет. Результатом такого развития сегодня стали системы «клиент−исполнитель».
        
        p Система NETEXAR -  это площадка-агрегатор грузоперевозок, позволяющая заказчику и перевозчику быстро находить друг друга. Целью NETEXAR является облегчение поиска перевозчиков преимущественно на 20-тонных машинах для перевозок грузов по Москве и Московской области.
        
    .about-page__wrapper
      .about-page-list
        h2 Возможность осуществлять грузоперевозки с NETEXAR<br> дает несомненные преимущества.

        .about-page-list-numeral
          .about-page-list-numeral__item <span>01</span> Минимальные затраты времени на поиск транспорта
          .about-page-list-numeral__item <span>02</span> Быстрое размещение заявки и определение стоимости перевозки
          .about-page-list-numeral__item <span>03</span> Большая конкуренция, что обеспечивает лучшие цены
          .about-page-list-numeral__item <span>04</span> Единый сервис поиска необходимого транспорта

      .about-page-who
        h2 Для кого работает NETEXAR
      
        h3 Нашими услугами пользуются грузовладельцы и логисты компаний. С нами вы cможете:

        ul
          li Быстро разместить заявку на NETEXAR и сразу получать предложения от перевозчиков в одном окне из первых рук, без необходимости обзванивать транспортные компании.

          li Всегда найти подходящего перевозчика в Москве и Московской области по оптимальной цене.

          li Отслеживать перемещение груза онлайн (услуга станет доступна всем после тестового периода)

          li Отправить груз с помощью проверенного перевозчика, который дорожит своей репутацией. 

          li Все перевозчики NETEXAR проходят проверку документов и технического состояния транспорта

          li Снизить расходы времени на поиск транспорта и стоимость перевозки

        h3 Перевозчикам система NETEXAR предоставляет следующие возможности:

        ul
          li Администрация NETEXAR придерживается принципа поддержания баланса спроса и предложения. Новые перевозчики будут подключаться к NETEXAR пропорционально росту спроса.
          li После прохождения процедуры верификации в NETEXAR вы сможете перенести ваш рейтинг из других систем.
          li При подключении к NETEXAR вы получаете доступ ко всем размещаемым в системе заявкам, что помогает вам оптимизировать маршруты и стоимость перевозок. 
          li Принцип поддержания баланса спроса и предложения позволит вам регулярно получать заказы для организации ежедневной работы.
          li Качественное осуществление перевозок даст вам конкурентное преимущество в NETEXAR. 

    .about-page-advantages
      h2 Преимущества NETEXAR

      .about-page-advantages__item <span>1</span>Сервис дает заказчику возможность оперативно подобрать свободный транспорт для грузоперевозок по Москве и Московской области. 
      .about-page-advantages__item <span>2</span>Сервис позволяет заказчикам и перевозчикам контактировать напрямую друг с другом.
      .about-page-advantages__item <span>3</span>И заказчики, и перевозчики получают возможность экономить и получать максимальную выгоду от сделки.
      .about-page-advantages__item <span>4</span>Большая конкуренция гарантирует высокое качество работы.
      .about-page-advantages__item <span>5</span>К работе с заявками в NETEXAR допускаются только перевозчики, прошедшие проверку документов и технического состояния транспорта. 
