mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner-top
        .top-baner-top__left Москва <br>и Московская область
        .top-baner-top__title Заказывайте перевозку<br>Вашего груза
        .top-baner-top__right Машины <br>20 тонн и 10 тонн

      .top-baner-steps
        .top-baner-steps__item._step-1 простая регистрация
        .top-baner-steps__item._step-2 размещайте заявку
        .top-baner-steps__item._step-3 получайте предложения
        .top-baner-steps__item._step-4 выбирайте лучших
        .top-baner-steps__item._step-5 будьте в курсе где груз
          span *тестовый режим

      a(href="#" title="").top-baner__button.gr-button._green._big Зарегистрироваться
      //- .top-baner__column
      //-   .top-baner__title Подключайтесь к сервису и зарабатывайте
      //-   .top-baner-list
      //-     .top-baner-list__item 1000+ грузов в день
      //-     .top-baner-list__item Стойкие расценки
      //-     .top-baner-list__item Прозрачная работа
      //-     .top-baner-list__item Лучшие заработки

      //-   a(href="#" title="").top-baner__button.gr-button._green._big Зарегистрироваться

      //- .top-baner__column
      //-   .top-baner__title Заказывайте перевозку Вашего груза
      //-   .top-baner-list
      //-     .top-baner-list__item 100+ перевозчиков
      //-     .top-baner-list__item Оплачивайте легко
      //-     .top-baner-list__item Выбирайте сами
      //-     .top-baner-list__item Лучшие перевозчики

      //-   a(href="#" title="").top-baner__button.gr-button._blue._big Заказать перевозку груза