mixin top-baner(data)
  .top-baner
    .top-baner__wrapper
      .top-baner__column
        .top-baner__title Подключайтесь к сервису и зарабатывайте
        .top-baner-list
          .top-baner-list__item 1000+ грузов в день
          .top-baner-list__item Стойкие расценки
          .top-baner-list__item Прозрачная работа
          .top-baner-list__item Лучшие заработки

        a(href="#" title="").top-baner__button.gr-button._green._big Зарегистрироваться

      .top-baner__column
        .top-baner__title Заказывайте перевозку Вашего груза
        .top-baner-list
          .top-baner-list__item 100+ перевозчиков
          .top-baner-list__item Оплачивайте легко
          .top-baner-list__item Выбирайте сами
          .top-baner-list__item Лучшие перевозчики

        a(href="#" title="").top-baner__button.gr-button._blue._big Заказать перевозку груза