mixin politics-page(data)
  .politics-page
    .politics-page__wrapper
      h1 Политика Конфиденциальности
      p Общества с ограниченной ответственностью «Нетексар» в отношении обработки и защиты персональных данных

      h2 1.  ОБЩИЕ ПОЛОЖЕНИЯ

      p 1.1. Настоящая Политика в отношении обработки и защиты персональных данных (далее – Политика) разработана в соответствии со статьей 18.1 Федерального закона от 27.07.2006 года № 152-ФЗ «О персональных данных» и является основным внутренним документом ООО «Нетексар» (далее – Общество), регулирующим его деятельность в области обработки и защиты персональных данных, оператором которых является Общество.
      p 1.2. Политика разработана в целях реализации требований законодательства Российской Федерации в области обработки и защиты персональных данных и направлена на обеспечение защиты прав и свобод человека и гражданина при обработке его персональных данных в Обществе, в том числе защиты прав на неприкосновенность частной жизни, личной и семейной тайн.
      p 1.3. Действие настоящей Политики распространяется на любую информацию о пользователе, полученную Обществом, как до, так и после утверждения Политики.
      p 1.4. Действие настоящей Политики распространяется на всю информацию, которую Общество может получить о пользователе, в том числе во время использования им сайта www.netexar.ru и интегрированных с ним приложений для мобильных устройств (далее – Сервис). 
      p 1.5. Посещение и использование Сервиса  означает безоговорочное согласие пользователя с настоящей Политикой и содержащимися в ней условиями обработки его персональных данных. Регистрируясь на Сервисе пользователь подтверждает свое согласие с условиями, содержащимися в настоящей Политике.
      p 1.6. В случае несогласия с условиями обработки персональных данных в Обществе, пользователь должен прекратить использование Сервиса.
      p 1.7. Настоящая Политика применяется только к Сервису. Общество не контролирует и не несет ответственности за сбор и обработку персональных данных третьими лицами, на сайты которых пользователь может перейти по ссылкам, доступным на Сервисе.
      p 1.8. Общество вправе осуществлять проверку достоверности персональных данных, предоставленных пользователем путем запроса подтверждающих документов и иными способами.
      p 1.9. Онлайн оплата за услуги Общества производится с помощью третьих лиц – партнёров Общества. При этом Общество не осуществляет сбор платежных данных пользователей. После нажатия на кнопку «ОПЛАТИТЬ» пользователь автоматически перенаправляется на сайт партнера Общества для проведения оплаты. Соответственно, для целей осуществления расчётов между Обществом  и пользователем, последнему может быть необходимо ознакомится с политикой конфиденциальности партнёров Общества, помогающих ему осуществлять расчёты с пользователем, таких как поставщики платёжных услуг, партнёрских сервисов, и иных аналогичных компаний-партнёров Общества.
      p 1.10. Общество, являясь посредником между заказчиками и перевозчиками не осуществляет заключение договоров транспортной экспедиции. Указанные договоры заключаются между пользователями самостоятельно, без участия Общества, поэтому, после выбора перевозчика через Сервис, заказчику (грузоотправителю) может потребоваться предоставить перевозчику (экспедитору) документы, необходимые для заключения договора транспортной экспедиции в соответствии с требованиями Федерального закона от 6 июля 2016 г. № 374-ФЗ «О внесении изменений в Федеральный закон «О противодействии терроризму» и отдельные законодательные акты Российской Федерации в части установления дополнительных мер противодействия терроризму и обеспечения общественной безопасности».
      
      h2 2.  СОСТАВ ПОЛУЧАЕМЫХ И ОБРАБАТЫВАЕМЫХ ПЕРСОНАЛЬНЫХ ДАННЫХ
      p 2.1. Данные о пользователе, получаемые и обрабатываемые в рамках настоящей Политики поступают в Общество следующими способами:
      p 2.1.1. Предоставляются самим пользователем путём:
      ul
        li заполнения специальной формы регистрации на Сервисе и могут включать в себя следующую информацию: фамилия, имя, отчество, номер телефона, адрес электронной почты (e-mail);
        li заполнения формы обратной связи на Сервисе и включают в себя следующую информацию: имя, номер контактного телефона, адрес электронной почты (email), иную персональную информацию, указываемую пользователем на свое усмотрение;
        li прохождения процедуры верификации на Сервисе и могут включать в себя следующую информацию: фамилия, имя, отчество, номер телефона, адрес электронной почты (e-mail), данные документа, удостоверяющего личность, данные водительского удостоверения, место жительства, данные правоустанавливающих документов на транспортное средство, данные паспорта транспортного средства, данные свидетельства о регистрации транспортного средства и иную информацию на усмотрение пользователя;
        li связи с Обществом посредством направления письменной корреспонденции на почтовые адреса Общества, по номерам телефонов, адресам электронной почты, средствам видеосвязи,  указанным на Сервисе и любыми другими способами и могут включать в себя следующую информацию: фамилия, имя, отчество, почтовый адрес, место проживания, контактный телефон, адрес электронной почты (e-mail) и иную информацию на усмотрение пользователя.
      p 2.1.2. Автоматически передаются Обществу в процессе посещения и использования Сервиса с помощью установленного на устройстве пользователя программного обеспечения, в том числе: IP-адрес,  информация из cookie,  информация о браузере пользователя (или иной программе, с помощью которой осуществляется доступ к Сервису), мобильном устройстве, время доступа, адрес запрашиваемой страницы.

      h2 3. ЦЕЛИ СБОРА И ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ

      p 3.1. Сбор и обработка персональных данных пользователя Обществом осуществляется в следующих целях:
      p 3.1.1. Заключение договоров на оказание услуг пользователю от имени Общества, партнеров Общества.
      p 3.1.2. Исполнение своих обязательств перед иными Пользователями сервиса, в том числе осуществление с согласия Пользователя хранения, обезличивания, передачи персональных данных третьим лицам – Пользователям сервиса, в соответствии с условиями действующего законодательства о персональных данных.
      p 3.1.3. Связь с пользователем в случае необходимости, в том числе направление уведомлений, запросов и информации, связанных с использованием Сервиса, оказанием услуг Обществом и (или) партнерами Общества, а также обработка запросов и заявок от пользователя;
      p 3.1.4. Предоставление пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием Сервиса, оказанием услуг Обществом и (или) партнерами Общества;
      p 3.1.5. Повышение качества Сервиса, удобства его использования;
      p 3.1.6. Предоставление пользователю, с его согласия, персональных услуг, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Общества и (или) от имени партнеров Общества;
      p 3.1.7. Осуществления рекламной деятельности с согласия пользователя;
      p 3.1.8. Предоставления доступа пользователю на сайты или сервисы партнеров Общества с целью получения продуктов, обновлений и услуг.
      p 3.1.9. Проведение статистических и иных исследований на основе обезличенных данных.

      h2 4.  ПРЕДОСТАВЛЕНИЕ ДОСТУПА К ПЕРСОНАЛЬНЫМ ДАННЫМ
      p 4.1. Общество обеспечивает сохранность персональных данных пользователей.
      p 4.2. В отношении персональных данных пользователя сохраняется их конфиденциальность, кроме случаев, установленных в п. 4.3. настоящей Политики.
      p 4.3. Общество вправе передать персональные данные пользователя третьим лицам в следующих случаях:
      p 4.3.1. Пользователь явным образом выразил свое согласие на передачу своих персональных данных;
      p 4.3.2. Передача персональных данных необходима для оказания определенной услуги пользователю Обществом, партнерами Общества или иными пользователями. При этом обеспечивается конфиденциальность персональной информации, а пользователь уведомляется о такой передаче;
      p 4.3.3. Передача предусмотрена российским или иным применимым законодательством в рамках установленной процедуры (по решению суда, запросу правоохранительных органов и т.д.);
      p 4.3.4. Такая передача происходит в рамках продажи или иной передачи бизнеса (полностью или в части), при этом к приобретателю переходят все обязательства по соблюдению условий настоящей Политики применительно к полученной им персональной информации;
      p 4.3.5. В целях обеспечения возможности защиты прав и законных интересов Общества.
      p 4.4. При утрате или разглашении персональных данных Общество информирует пользователя об утрате или разглашении персональных данных.

      h2 5.  ЗАЩИТА ПЕРСОНАЛЬНЫХ ДАННЫХ ПОЛЬЗОВАТЕЛЕЙ

      p 5.1.  Общество гарантирует, что уровень защищенности персональных данных пользователей соответствует требованиям, установленным в Постановлении Правительства Российской Федерации от 1 ноября 2012 г. № 1119 «Об утверждении требований к защите персональных данных при их обработке в информационных системах персональных данных».

      p 5.2.  Общество принимает необходимые организационные и технические меры для защиты персональных данных пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц в соответствии с требованиями Приказа ФСТЭК России от 18.02.2013 № 21 «Об утверждении Состава и содержания организационных и технических мер по обеспечению безопасности персональных данных при их обработке в информационных системах персональных данных».

      h2 6.  ОТВЕТСТВЕННОСТЬ
      p 6.1. В случае неисполнения своих обязательств, Общество несёт ответственность за убытки, понесённые пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Российской Федерации, за исключением случаев, предусмотренных 6.2. настоящей Политики.
      p 6.2. В случае утраты или разглашения персональных данных пользователя Общество не несёт ответственность, если данная информация стала публичным достоянием до её утраты или разглашения, либо была разглашена самим пользователем или с согласия пользователя.

      h2 7.  ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ
      p 7.1.  Общество вправе вносить изменения и дополнения в настоящую Политику. Новая редакция Политики действует с момента ее размещения на Сервисе, ели иное не предусмотрено в новой редакции Политики.
      p 7.2.  К отношениям в области обработки и защиты персональных данных, не урегулированным в настоящей Политике, применяется действующее законодательство Российской Федерации.
      p 7.3.  Все предложения или вопросы, связанные с обработкой и защитой персональных данных Обществом следует направлять по адресу электронной почты post@netexar.ru. 
      p 7.4.  Информация об Операторе персональных данных: 
      strong Общество с ограниченной ответственностью  «Нетексар» (ООО «Нетексар»);
      strong ИНН 9715304300;
      strong КПП 771501001;
      strong ОГРН 1177746640037; 
      strong Юр. адрес: 127055, г. Москва, ул. Образцова, д. 7, стр. 6, офис 201;
      strong Почтовый адрес: 127055, г. Москва, ул. Образцова, д. 7, стр. 6, офис 201.
