mixin order-attention(data)
  .order-attention
    .order-attention__title Внимание!

    p Модераторы NetExAr следят за комметариями и оставленными заявками. 

    p За предоставление контактных данных ваш аккаунт может быть заблокирован!

    p В комментариях и заявках запрещается:

    ul
      li Вести торги с заказчиком
      li Предлагать заказчику свои услуги
      li Спорить, грубить или вести любые обсуждения, не связанные с размещенным заказом
      li Распространять флуд однотипными комметариями




