mixin selected-performer(data)
  .selected-performer
      .selected-performer__title Выбранный исполнитель

      .selected-performer-card
        .selected-performer-card__photo
          img(src="http://placehold.it/100x100" alt="")
        .selected-performer-card__info
          .selected-performer-card__name Марина Александровна
            span Менеджер АТП
          .selected-performer-card-contacts
            .selected-performer-card-contacts__item._phone +7 (495) 999 10 00
            .selected-performer-card-contacts__item._email custom@bnb.com